In [ ]:
!pip install deep-translator

In [ ]:
!pip install selenium

In [1]:
import pandas as pd

In [2]:
from bs4 import BeautifulSoup as bs

In [3]:
import requests

In [4]:
from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

chrome_options = Options()
chrome_options.add_experimental_option("detach", True)

capa = DesiredCapabilities.CHROME
capa["pageLoadStrategy"] = "none"

In [6]:
# from deep_translator import GoogleTranslator

In [7]:
from time import sleep

In [8]:
startYear = 2022
startMonth = 1
startDate = 1
dateRanges = {1:31, 2:29, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}

In [9]:
dates = []
# for i in range(0, 12):
for j in range(0, 12):
    for k in range(0, dateRanges[startMonth + j]):
        if startDate + k < 10:
            currDate = "0"+str(startDate+k)
        else: currDate = str(startDate+k)
        if startMonth + j < 10:
            currMonth = "0"+str(startMonth+j)    
        else: currDate = str(startMonth+j)
        dates.append(str(startYear) + "/" + currMonth + "/" + currDate + "/")

In [10]:
len(dates)

366

In [11]:
news = []

In [14]:
for day in range(59,59+32):
    url = "https://tamil.oneindia.com/" + dates[day]
    driver = webdriver.Chrome('./chromedriver.exe', options=chrome_options)
    driver.get(url)
    html = driver.page_source
    sleep(4)
    soup = bs(html)
    driver.close()
    for i in soup.findAll('div', {'id':'news-scrollable'}):
        for j in i.findAll('section'):
            for k in j.findAll('div', {'class' : 'content clearfix'}):
                for l in k.findAll('ul', {'class' : 'dayindexTitles'}):
                    for m in l.findAll('li'):
                        news.append(m.get_text())
    print("Fetched\t\t", dates[day])

<ipython-input-14-de5417e4adb1>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver.exe', options=chrome_options)

Fetched		 2022/02/29/
Fetched		 2022/03/01/
Fetched		 2022/03/02/
Fetched		 2022/03/03/
Fetched		 2022/03/04/
Fetched		 2022/03/05/
Fetched		 2022/03/06/
Fetched		 2022/03/07/
Fetched		 2022/03/08/
Fetched		 2022/03/09/
Fetched		 2022/03/10/
Fetched		 2022/03/11/
Fetched		 2022/03/12/
Fetched		 2022/03/13/
Fetched		 2022/03/14/
Fetched		 2022/03/15/
Fetched		 2022/03/16/
Fetched		 2022/03/17/
Fetched		 2022/03/18/
Fetched		 2022/03/19/
Fetched		 2022/03/20/
Fetched		 2022/03/21/
Fetched		 2022/03/22/
Fetched		 2022/03/23/
Fetched		 2022/03/24/
Fetched		 2022/03/25/
Fetched		 2022/03/26/
Fetched		 2022/03/27/
Fetched		 2022/03/28/
Fetched		 2022/03/29/
Fetched		 2022/03/30/
Fetched		 2022/03/31/

In [15]:
df = pd.DataFrame({"news" : news})
df.to_csv('Mar2022.csv')

In [14]:
df = pd.read_csv('Feb2022.csv')
tdf = pd.read_csv('C:\\Users\\HP\\Downloads\\Feb2022.csv')

In [15]:
df.columns = ['Index', 'Tamil']
tdf.columns = ['Index', 'English']
newDf = pd.merge(df, tdf, on='Index')
newDf.to_csv('Feb2022.csv')
# newDf.head()

In [24]:
gdf = pd.read_csv('../../Downloads/Tamil-News-Headlines.csv')

In [25]:
gdf.columns = ['Index', 'English', 'Label', 'Tamil', 'Author', 'Date', 'Is Fake']
gdf = gdf.drop(['Index', 'Label', 'Author', 'Date'], axis=1)
gdf.head()

,English,Tamil,Is Fake
0,Additional charge for users who share password...,பாஸ்வேர்டை பகிரும் பயனர்களிடம் கூடுதல் கட்டணம...,0
1,Production of 'AK-203' guns in India by the en...,இந்தியாவில் நடப்பு ஆண்டின் இறுதிக்குள் ‘ஏகே-2...,0
2,Moto E22s smartphone launched in India at a bu...,பட்ஜெட் விலையில் மோட்டோ E22s ஸ்மார்ட்போன் இந்...,0
3,Let's make Kalam's last dream come true,கலாம் கண்ட கடைசி கனவை நனவாக்குவோம்,0
4,Redmi A1+ smartphone launched in India at a bu...,பட்ஜெட் விலையில் ரெட்மி ஏ1+ ஸ்மார்ட்போன் இந்த...,0

In [47]:
import numpy as np
# print(np.unique(gdf['Is Fake'].value_counts()))
# print(np.unique(df['Is Fake'].value_counts()))

In [27]:
df = pd.DataFrame()

In [28]:
files = ['Jan2022.csv', 'Feb2022.csv', 'Mar2022.csv']
dfs = [pd.read_csv(file) for file in files]
df = pd.concat(dfs, ignore_index=True)
df.head()

,Unnamed: 0,English,Tamil,Index
0,0,"""There is no precaution"".. Scolded Chief Minis...",சபரிமலையில் குவியும் பக்தர்கள்: ஐயப்பனை இரவு 1...,NaN
1,1,34 people have corona in Saidapet Govt Trainin...,ஆரியங்காவு தர்மசாஸ்தா அன்னை புஷ்கலா தேவி திரு...,NaN
2,2,Hanuman Jayanti at Dhanwandri Peedam: 100008 V...,புலிவாகனத்தில் மகரசங்கராந்தி பிரவேசம் - யாருக்...,NaN
3,3,Happy New Year 2022: Do you know which country...,தன்வந்திரி பீடத்தில் அனுமன் ஜெயந்தி: நாமக்கல் ...,NaN
4,4,Devotees thronging Sabarimala: Allowed to visi...,"தடுப்பூசி போடலியா.. பேங்க், ஹோட்டல் கூட போக மு...",NaN

In [30]:
df.columns = ['Index', 'English', 'Tamil', 'Index1']
df = df.drop(['Index', 'Index1'], axis=1)
df.head()

,English,Tamil
0,"""There is no precaution"".. Scolded Chief Minis...",சபரிமலையில் குவியும் பக்தர்கள்: ஐயப்பனை இரவு 1...
1,34 people have corona in Saidapet Govt Trainin...,ஆரியங்காவு தர்மசாஸ்தா அன்னை புஷ்கலா தேவி திரு...
2,Hanuman Jayanti at Dhanwandri Peedam: 100008 V...,புலிவாகனத்தில் மகரசங்கராந்தி பிரவேசம் - யாருக்...
3,Happy New Year 2022: Do you know which country...,தன்வந்திரி பீடத்தில் அனுமன் ஜெயந்தி: நாமக்கல் ...
4,Devotees thronging Sabarimala: Allowed to visi...,"தடுப்பூசி போடலியா.. பேங்க், ஹோட்டல் கூட போக மு..."

In [33]:
df['Is Fake'] = 0

In [34]:
df.head()

,English,Tamil,Is Fake
0,"""There is no precaution"".. Scolded Chief Minis...",சபரிமலையில் குவியும் பக்தர்கள்: ஐயப்பனை இரவு 1...,0
1,34 people have corona in Saidapet Govt Trainin...,ஆரியங்காவு தர்மசாஸ்தா அன்னை புஷ்கலா தேவி திரு...,0
2,Hanuman Jayanti at Dhanwandri Peedam: 100008 V...,புலிவாகனத்தில் மகரசங்கராந்தி பிரவேசம் - யாருக்...,0
3,Happy New Year 2022: Do you know which country...,தன்வந்திரி பீடத்தில் அனுமன் ஜெயந்தி: நாமக்கல் ...,0
4,Devotees thronging Sabarimala: Allowed to visi...,"தடுப்பூசி போடலியா.. பேங்க், ஹோட்டல் கூட போக மு...",0

In [38]:
finalDf = pd.concat([df, gdf], ignore_index=True)

In [42]:
finalDf.to_csv('TamilFakeAndReal.csv')

In [ ]:
# num_threads = 16
# q = Queue()
# translated = []
# c = 0
# def translate():
#     global q
#     global c
#     while True:
#         txt = q.get()
#         translated.append(GoogleTranslator(source='tamil', target='en').translate(txt))
#         print("Translated ", c+1)
#         c += 1
#         q.task_done()

In [ ]:
# startIndex = 0
# for i in range(0, len(news), 45):
#     txt = '\n'.join(tmp[startIndex:i])
#     startIndex = i
#     q.put(txt)

# for i in news:
#     q.put(i)

In [ ]:
# print(len(list(q.queue)))

In [ ]:
# for t in range(num_threads):
#     worker = Thread(target=translate)
# #     worker.daemon = True
#     worker.start()

# q.join()

In [ ]:
# df = pd.DataFrame({'English' : translated, 'Tamil' : news, })

In [ ]:
# df.to_csv('Feb2022.csv')